body {
    background-color: rgb(240, 218, 209);
    margin: 0px;
}

.header {
    display: flex;
    background-color: lightyellow;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /* height: 100px; */
}

.logo {
    background-color: lightcoral;
}

.logo>a{
    display: block;
    padding: 20px;
    text-decoration: none;
    color: lightyellow;
}

.menu_icon>a {
    display: block;
    background-color: lightsalmon;
    padding: 20px;
    text-decoration: none;
}

.navbar {
    /* margin-left: auto; */
}

.navbar>ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;

}

@media screen and (max-width: 991px){
    
    .header{
        flex-wrap: wrap;
    }

    .navbar{
        width:100%;
        display: none;
    }

    .navbar>ul{
        flex-direction: column;
    }
    .navbar>ul>li>a {
        background-color: cornsilk;
        display: block;
        line-height: 40px;
        text-align: center;
        text-decoration: none;
        color:white;
        border-bottom:1px solid white;
    }
}

@media screen and (min-width: 992px){

    .menu_icon {
        display: none;
    }

    .navbar>ul>li>a {
        display: block;
        padding: 10px;
        /* background-color: peachpuff; */
        text-decoration: none;
    }
} /* media 992 end */

.banner {
    background-color: rgb(243, 243, 192);
    height: calc(100vh - 78px);
    /* viewport height 可視區域 扣掉 navbar高度 */
}


.link_a{
    flex-direction: column;
}

.link_a:hover .hover_letter{
    width: auto;
    height: auto;
    color: black;
    cursor: pointer;
}

.first_letter {
    writing-mode: vertical-lr;
    text-orientation: upright;
}
.hover_letter{
    width: 0;
    height: 0;
    color: transparent;
    cursor: default;
    transition: 0.5s;
    writing-mode: vertical-lr;
    text-orientation: upright;
    top: 32px;
}
