// @import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
body {
    background-color: white;
    margin: 0px;
    overflow: hidden;
    // font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
}

// arrow 顏色 //
:root {
    --swiper-theme-color: white;
}

//  ------------- loading_page start --------------- //

.overflow_auto {
    overflow: auto;
}

.loading_bg {
    width: 100%;
    height: 100vh;
    background-image: url("../loading_page/LoadingBG.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: ease-in 1s;
    position: absolute;
    overflow-y: hidden;
    z-index: 99999;

    @media (max-width: 991px) {
        height: 500px;
        top: calc(50% - 250px);
    }

    @media (max-width: 575px) {
        height: 350px;
        top: calc(50% - 175px);
    }
}

.done {
    opacity: 0;
}

.loading {
    width: 100%;
    height: 100%;
    background-image: url("../loading_page/Rose2.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    position: absolute;
}

.loading_rose2 {
    width: 100%;
    height: 100%;
    background-image: url("../loading_page/Rose.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0;
    transition: ease-in 1s;
}

// ------------- navbar start --------------- //

.header {
    background-color: white;
    top: -100px;
    opacity: 0;


    .container_navbar {
        @media (min-width: 1300px) {
            max-width: 1240px;
        }

        @media (min-width: 1500px) {
            max-width: 1440px;
        }

        @media (min-width: 1800px) {
            max-width: 1740px;
        }
    }

    .nav_logo {
        width: 300px;

        @media (max-width: 576px) {
            width: 200px;
        }
    }

    .link_border {
        margin-left: 50px;
        width: 25px;
        border-top: 2px solid gray !important;
    
        @media (max-width: 991px) {
            border-top: none !important;

        }
    }

    .link_a {
        flex-direction: column;
        margin-left: 50px;
        padding-top: 10px;
        font-weight: bold;

        @media (max-width: 991px){
            flex-direction: row;
            
        }

        &:hover {
            text-decoration: none;
        }

        &:hover .hover_letter {
            width: auto;
            height: auto;
            color: gray;
            cursor: pointer;
            pointer-events: auto;
        }

        .first_letter {
            writing-mode: vertical-lr;
            text-orientation: upright;
            color: gray;

            @media (max-width: 991px) {
                writing-mode: unset;
                text-orientation: unset;
            }
        }

        .hover_letter {
            width: 0;
            height: 0;
            color: transparent;
            // cursor: default;
            pointer-events: none;
            transition: 0.7s;
            writing-mode: vertical-lr;
            text-orientation: upright;
            top: 32px;

            @media (max-width: 991px) {
                writing-mode: unset;
                text-orientation: unset;
                top: unset;
                left: 13px;
                letter-spacing: 4px;
                width: auto;
                height: auto;
                cursor: pointer;
                pointer-events: auto;
                color: gray;
            }
        }
    }
}

// ------------- navbar end --------------- //


// ------------- banner start --------------- //
.parent {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;

    

    #scene,
    #scene2 {
        width: 100%;
        height: 100vh;
        position: absolute;

        img {
            height: 100vh;

            @media (max-width: 1200px) {
                width: 140%;
            }

            @media (max-width: 576px) {
                width: 160%;
            }
        }
    }

    .banner_text {
        position: absolute;
        top: 20%;
        left: 54%;
        padding: 20px;
        color: white;
        background-color: #dad9d63a;
        writing-mode: vertical-rl;
        text-orientation: upright;
        font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
        font-size: 1.2rem;
        letter-spacing: 6px;

        @media (max-width: 576px) {
            top: 10%;
            right: 10%;
            left: unset;
        }
    }
}



// ------------- banner  end --------------- //

// ---------- illustration start ------------ //

.illustrations {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 100px;

    @media (max-width: 991px){
        flex-direction: column;
    }


    .illus_title {
        margin: 20px;
        writing-mode: vertical-rl;
        text-orientation: upright;
        width: 100px;
        height: 400px;
        line-height: 100px;
        color: gray;
        font-size: 1.2rem;
        letter-spacing: 2px;
        font-weight: bold;
        text-align: center;

        @media (max-width: 991px){
            margin: 0;
            padding: 20px;
            writing-mode: unset;
            text-orientation: unset;
            width: 100%;
            height: 20px;
            line-height: 50px;
        }
    }

    .container {
        width: 90%;
        margin: 15px;

        @media (min-width: 1300px) {
            max-width: 1240px;
        }

        @media (min-width: 1500px) {
            max-width: 1440px;
        }

        @media (min-width: 1800px) {
            max-width: 1740px;
        }
    }

    .illustration_swiper {
        @media (max-width: 991px) {
            display: none;
        }
    }

    .swiper-container {
        width: 100%;
        height: 90%;
    }

    .swiper-button-next:after,
    .swiper-container-rtl .swiper-button-prev:after {
        color: lightgray;
    }

    .swiper-button-prev:after,
    .swiper-container-rtl .swiper-button-next:after {
        color: lightgray;
    }

    .swiper-pagination .swiper-pagination-bullet-active {
        background-color: gray;
    }

    .swiper-slide {
        text-align: center;
        background: #fff;
        /* Center slide text vertically */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    // Image Accordions General
    .container-general {
        padding: 75px 0;
        margin: 0 auto;
        width: 86%;

        .gallery-wrap {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 70vh;

            .item {
                flex: 1;
                height: 100%;
                background-position: center;
                background-size: cover;
                background-repeat: none;
                transition: all 0.8s ease;

                &:hover {
                    flex: 6;
                }
            }
        }
    }

    // Image Accordions Effect 1
    .wrap-effect-1 {
        .item {
            &:first-of-type {
                background-image: url('../images/1.jpg');
            }

            &:nth-of-type(2) {
                background-image: url('../images/2.jpg');
            }

            &:nth-of-type(3) {
                background-image: url('../images/3.jpg');
            }

            &:nth-of-type(4) {
                background-image: url('../images/4.jpg');
            }

            &:last-of-type {
                background-image: url('../images/5.jpg');
            }
        }
    }

    // Image Accordions Effect 2
    .wrap-effect-2 {
        .item {
            &:first-of-type {
                background-image: url('../images/6.jpg');
            }

            &:nth-of-type(2) {
                background-image: url('../images/7.jpg');
            }

            &:nth-of-type(3) {
                background-image: url('../images/8.jpg');
            }

            &:nth-of-type(4) {
                background-image: url('../images/9.jpg');
            }

            &:last-of-type {
                background-image: url('../images/10.jpg');
            }
        }
    }

    // Image Accordions Effect 3
    .wrap-effect-3 {
        .item {
            &:first-of-type {
                background-image: url('../images/11.jpg');
            }

            &:nth-of-type(2) {
                background-image: url('../images/12.jpg');
            }

            &:nth-of-type(3) {
                background-image: url('../images/13.jpg');
            }

            &:nth-of-type(4) {
                background-image: url('../images/14.jpg');
            }

            &:last-of-type {
                background-image: url('../images/15.jpg');
            }
        }
    }

    // Image Accordions Effect 4 
    .wrap-effect-4 {
        .item {
            &:first-of-type {
                background-image: url('../images/16.jpg');
            }

            &:nth-of-type(2) {
                background-image: url('../images/17.jpg');
            }

            &:nth-of-type(3) {
                background-image: url('../images/18.jpg');
            }

            &:nth-of-type(4) {
                background-image: url('../images/19.jpg');
            }

            &:last-of-type {
                background-image: url('../images/20.jpg');
            }
        }
    }

    // Image Accordions Effect 5 
    .wrap-effect-5 {
        .item {
            &:first-of-type {
                background-image: url('../images/21.jpg');
            }

            &:nth-of-type(2) {
                background-image: url('../images/22.jpg');
            }

            &:nth-of-type(3) {
                background-image: url('../images/23.jpg');
            }

            &:nth-of-type(4) {
                background-image: url('../images/24.jpg');
            }

            &:last-of-type {
                background-image: url('../images/25.jpg');
            }
        }
    }
}

.illustrations_mobile {
    width: 100%;
    height: 100%;
    display: none;

    @media (max-width: 991px) {
        display: inline-block;
    }

    .illus_title_mobile {
        margin-left: 20px;
        color: gray;
        font-size: 1.1rem;
        letter-spacing: 2px;
        font-weight: bold;
        text-align: center;
    }

    .gallery-top {
        top: 1.5rem;

        .top_style {
            height: 90%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

        }
    }

    .gallery-thumbs {
        bottom: 3%;
        height: 30%;

        @media (max-width:575px) {
            height: 20%;
        }

        .thumbs_style{
            height: 100%;
            background-size: cover;
            background-position: center;
        }
    }
}

// ---------- illustration  end ------------ //

// ------------ about me start ------------- //

.aboutMe {
    width: 100%;
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
    padding-top: 100px;
    height: calc(100vh - 100px);
    /* viewport height 可視區域 扣掉 navbar高度 */
    position: relative;

    .clippy {
        background-color: #e7faeb;
        position: absolute;
        width: 100%;
        height: 100%;
        clip-path: polygon(29% 0, 98% 24%, 70% 98%, 0 65%);
    }

    .container {
        width: 100%;
        height: 100%;

        .row {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            ;
            align-items: center;

            @media (max-width: 575px) {
                margin-left: 0px;
            }

            .about1 {
                width: 100%;
                // width: 60%;
                color: black;
                writing-mode: vertical-rl;
                text-orientation: upright;
                font-size: 1.2rem;
                letter-spacing: 4px;
                text-align: center;
                line-height: 40px;                

                @media (max-width: 575px) {
                    order: 2;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: center;
                }

                .about_name {
                    padding: 6px;
                    margin-left: 20px;
                    background-color: #fbfad7;
                    color: cadetblue;
                    font-size: 1.4rem;
                    font-weight: bold;
                    letter-spacing: 6px;

                    @media (max-width: 991px) {
                        font-size: 1.1rem;
                        padding: 4px;
                    }

                    @media (max-width: 768px) {
                        font-size: 1rem;
                    }


                }

                .about_content {

                    @media (max-width: 991px) {
                        font-size: 1rem;
                    }

                    @media (max-width: 768px) {
                        font-size: 14px;
                        line-height: 25px;
                    }

                    @media (max-width: 575px) {
                        line-height: 30px;
                    }

                    .murmur {
                        padding-right: 60px;

                        @media (max-width: 1200px) {
                            padding-right: 40px;
                        }

                        @media (max-width: 991px) {
                            padding-right: 30px;
                        }

                        @media (max-width: 900px) {
                            padding-right: 25px;
                        }

                    }
                }

            }

            .about2 {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;

                @media (max-width: 575px) {
                    order: 3;
                    width: 66%;
                    height: 66%;
                }

                .shake {
                    animation-duration: 20s;
                    animation-iteration-count: infinite;
                }


            }

            .about3 {

                @media (max-width: 575px) {
                    order: 1;
                }

                .about_title {
                    writing-mode: vertical-rl;
                    text-orientation: upright;
                    width: 100px;
                    // height: 300px;
                    line-height: 100px;
                    color: gray;
                    font-size: 1.6rem;
                    letter-spacing: 10px;
                    font-weight: bold;
                    text-align: center;

                    @media (max-width: 991px) {
                        font-size: 1.3rem;
                    }

                    @media (max-width: 768px) {
                        font-size: 1.2rem;
                    }

                    @media (max-width: 575px) {
                        font-size: 1.1rem;
                        writing-mode: unset;
                        text-orientation: unset;
                        width: 100%;
                        line-height: unset;
                        padding: 20px;
                    }
                }
            }
        }


    }
}

// ------------- about me  end --------------- //

// ----------- store 商店  start ------------ //

.store_section {
    width: 100%;
    // height: calc(100vh - 100px);
    padding-top: 100px;

    .store_font {
        font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
        // letter-spacing: 0.5px;

    }

    .store_title {
        margin: auto;
        padding: 20px;
        width: 100%;
        // height: 400px;
        color: gray;
        font-size: 1.6rem;
        letter-spacing: 10px;
        font-weight: bold;
        text-align: center;
    }

    // // arrow 顏色 //
    // :root {
    //     --swiper-theme-color: white;
    // }


    // button 顏色微調
    .btn-outline-success {
        // position: absolute;
        color: cadetblue;
        border-color: cadetblue;
        // left: 39%;

        &:hover {
            background-color: cadetblue;
            border-color: cadetblue;
        }

        &:focus {
            box-shadow: none;
        }

        &:not(:disabled):not(.disabled):active {
            background-color: cadetblue;
            border-color: cadetblue;
        }
    }

    .menu_content .row {
        align-items: center;
        justify-content: center;
    }

    .nav-link {
        width: 100%;
        height: 100%;
        text-align: center;
        color: rgb(73, 70, 70);
        padding: 1rem 1.5rem;
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
        
        @media (max-width:991px) {
            padding: 1rem 5px;
        }

        @media (max-width:576px) {
            padding: 5px 5px;
        }

        P {
            margin: 0;
        }
    }

    // .nav-pills .nav-item::before {
    //     content: "";
    //     width: 3px;
    //     height: 25px;
    //     background-color: black;
    // }

    .nav-pills {

        .nav-item {
            width: 25%;

            // .nav-link {
            //     width: 100%;
            //     height: 100%;
            //     text-align: center;
            // }

            .nav-link.active {
                color: cadetblue;
                background-color: #fbfad7;
            }
        }
    }

    // 點擊menu後的效果 //

    .tab-content .container {
        padding: 0px;
    }

    .tab-pane{
        

        p {
            // height: calc(100vh - 106px - 38px - 40px);
            display: block;
            // height: 400px;
        }
    } 

    .menu_content {
        color: #494646;
        background-color: #fbfad7;
        padding: 20px;

        .row {
            align-items: flex-start;
        }

        .bag_right {


            h4 {
                color: cadetblue;
            }
        }

        .col-sm-4 {
            height: 70%;
            top: 0;
            .store_top_content {
                max-height: 20%;

            }

            .store_bottom_content {
                // height: 230px;
                text-align: center;

                .bottom_title {
                    padding-top: 10px;
                    color: cadetblue;

                }
            }
        }

        .menu_buttons {
            display: flex;
            justify-content: space-around;
            padding-top: 10px;
            padding-bottom: 20px;
        }
    }


    .nav-item a:hover {
        color: rgb(73, 70, 70);
    }

    // menu的hover效果 //
    .nav-item a {
        display: flex;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        position: relative;
        overflow: hidden;

        @media (max-width:576px) {
            display: inline-block;
        }
    }

    .nav-item a:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 51%;
        right: 51%;
        bottom: 0;
        background: #E7FAEB;
        height: 4px;
        -webkit-transition-property: left, right;
        transition-property: left, right;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

    .nav-item a:hover:before,
    .nav-item a:focus:before,
    .nav-item a:active:before {
        left: 0;
        right: 0;
    }

}


.shop_menu2_swiper {
    display: none;

    @media (max-width:576px){
        display: inline-block;
    }
}

.menu2_web {
    @media (max-width:576px) {
        display: none;
    }
}

.shop_menu3_swiper {
    display: none;

    @media (max-width:576px) {
        display: inline-block;
    }
}

.menu3_web {
    @media (max-width:576px) {
        display: none;
    }
}

.shop_menu4_swiper {
    display: none;

    @media (max-width:576px) {
        display: inline-block;
    }
}

.menu4_web {
    @media (max-width:576px) {
        display: none;
    }
}


// ------------ store 商店  end ------------- //

// --------- contact 聯絡我  start ---------- //

.contact_me {
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
    // padding-top: 100px;
    margin-top: 100px;
    width: 100%;
    height: calc(100vh - 100px);
    background-color: #e7faeb;
    background-image: linear-gradient(199deg, #e7faeb 49%, #fbfad7 50%);
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 576px) {
        height: auto;
    }

    .container {
        // background-color: #fff;
        width: 100%;

        .row {
            width: 100%;
            height: 100%;
            margin-left: 0px;

            .col-sm-7 {
                // width: 100%;
                // height: 100%;
                padding-bottom: 100%;
                background-image: url('../images/contactme.jpg');
                // background-size: cover;
                background-size: 80%;
                background-position: center center;
                background-repeat: no-repeat;
                // padding-right: 20px;
                // min-width: 200px;
            }

            @media screen and (min-width: 992px) {
                .row {
                    display: flex;
                    flex-wrap: wrap;
                }

                .col-sm-7 {
                    flex-basis: 60%;
                    padding-bottom: 30%;
                }
            }

            .col-sm-5 {
                // background-color: white;
                width: 100%;
                padding: 40px;
                text-align: center;
                // line-height: 60px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .ci1 {
                    color: #e9e595;
                    font-size: 1.6em;
                    letter-spacing: 10px;
                    font-weight: bold;
                    border-bottom: 5px solid white;
                    padding-bottom: 12px;

                }

                .ci2 {
                    margin: 20px;
                    letter-spacing: 1px;

                    a {
                        color: cadetblue;

                        &:hover {
                            color: #e6e3a5;
                            text-decoration: none;
                        }
                    }
                }

                .btn {
                    display: flex;
                    flex-direction: row;

                    i {
                        padding: 0px 10px 0 10px;
                        color: cadetblue;

                        &:hover {
                            color: #e6e3a5;
                        }
                    }
                }
            }

        }
    }
}


// ---------- contact 聯絡我  end ----------- //


// ---------- footer 頁尾 start ----------- //

.footer {
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
    width: 100%;
    height: 140px;
    background-image: url(../images/footer.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    .footer_container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 140px;

        .copyright {
            color: white;
            font-size: 1rem;
            letter-spacing: 4px;

            @media (max-width: 576px) {
                font-size: 10px;
            }

        }
    }
}

// ---------- footer 頁尾  end  ----------- //