@charset "UTF-8";
body {
  background-color: white;
  margin: 0px;
  overflow: hidden;
}

:root {
  --swiper-theme-color: white;
}

.overflow_auto {
  overflow: auto;
}

.loading_bg {
  width: 100%;
  height: 100vh;
  background-image: url("../loading_page/LoadingBG.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: ease-in 1s;
  transition: ease-in 1s;
  position: absolute;
  overflow-y: hidden;
  z-index: 99999;
}

@media (max-width: 991px) {
  .loading_bg {
    height: 500px;
    top: calc(50% - 250px);
  }
}

@media (max-width: 575px) {
  .loading_bg {
    height: 350px;
    top: calc(50% - 175px);
  }
}

.done {
  opacity: 0;
}

.loading {
  width: 100%;
  height: 100%;
  background-image: url("../loading_page/Rose2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
          clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  position: absolute;
}

.loading_rose2 {
  width: 100%;
  height: 100%;
  background-image: url("../loading_page/Rose.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  opacity: 0;
  -webkit-transition: ease-in 1s;
  transition: ease-in 1s;
}

.header {
  background-color: white;
  top: -100px;
  opacity: 0;
}

@media (min-width: 1300px) {
  .header .container_navbar {
    max-width: 1240px;
  }
}

@media (min-width: 1500px) {
  .header .container_navbar {
    max-width: 1440px;
  }
}

@media (min-width: 1800px) {
  .header .container_navbar {
    max-width: 1740px;
  }
}

.header .nav_logo {
  width: 300px;
}

@media (max-width: 576px) {
  .header .nav_logo {
    width: 200px;
  }
}

.header .link_border {
  margin-left: 50px;
  width: 25px;
  border-top: 2px solid gray !important;
}

@media (max-width: 991px) {
  .header .link_border {
    border-top: none !important;
  }
}

.header .link_a {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 50px;
  padding-top: 10px;
  font-weight: bold;
}

@media (max-width: 991px) {
  .header .link_a {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.header .link_a:hover {
  text-decoration: none;
}

.header .link_a:hover .hover_letter {
  width: auto;
  height: auto;
  color: gray;
  cursor: pointer;
  pointer-events: auto;
}

.header .link_a .first_letter {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  text-orientation: upright;
  color: gray;
}

@media (max-width: 991px) {
  .header .link_a .first_letter {
    -webkit-writing-mode: unset;
        -ms-writing-mode: unset;
            writing-mode: unset;
    text-orientation: unset;
  }
}

.header .link_a .hover_letter {
  width: 0;
  height: 0;
  color: transparent;
  pointer-events: none;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  text-orientation: upright;
  top: 32px;
}

@media (max-width: 991px) {
  .header .link_a .hover_letter {
    -webkit-writing-mode: unset;
        -ms-writing-mode: unset;
            writing-mode: unset;
    text-orientation: unset;
    top: unset;
    left: 13px;
    letter-spacing: 4px;
    width: auto;
    height: auto;
    cursor: pointer;
    pointer-events: auto;
    color: gray;
  }
}

.parent {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.parent #scene,
.parent #scene2 {
  width: 100%;
  height: 100vh;
  position: absolute;
}

.parent #scene img,
.parent #scene2 img {
  height: 100vh;
}

@media (max-width: 1200px) {
  .parent #scene img,
  .parent #scene2 img {
    width: 140%;
  }
}

@media (max-width: 576px) {
  .parent #scene img,
  .parent #scene2 img {
    width: 160%;
  }
}

.parent .banner_text {
  position: absolute;
  top: 20%;
  left: 54%;
  padding: 20px;
  color: white;
  background-color: #dad9d63a;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
  font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
  font-size: 1.2rem;
  letter-spacing: 6px;
}

@media (max-width: 576px) {
  .parent .banner_text {
    top: 10%;
    right: 10%;
    left: unset;
  }
}

.illustrations {
  width: 100%;
  height: calc(100vh - 100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 100px;
}

@media (max-width: 991px) {
  .illustrations {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.illustrations .illus_title {
  margin: 20px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
  width: 100px;
  height: 400px;
  line-height: 100px;
  color: gray;
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 991px) {
  .illustrations .illus_title {
    margin: 0;
    padding: 20px;
    -webkit-writing-mode: unset;
        -ms-writing-mode: unset;
            writing-mode: unset;
    text-orientation: unset;
    width: 100%;
    height: 20px;
    line-height: 50px;
  }
}

.illustrations .container {
  width: 90%;
  margin: 15px;
}

@media (min-width: 1300px) {
  .illustrations .container {
    max-width: 1240px;
  }
}

@media (min-width: 1500px) {
  .illustrations .container {
    max-width: 1440px;
  }
}

@media (min-width: 1800px) {
  .illustrations .container {
    max-width: 1740px;
  }
}

@media (max-width: 991px) {
  .illustrations .illustration_swiper {
    display: none;
  }
}

.illustrations .swiper-container {
  width: 100%;
  height: 90%;
}

.illustrations .swiper-button-next:after,
.illustrations .swiper-container-rtl .swiper-button-prev:after {
  color: lightgray;
}

.illustrations .swiper-button-prev:after,
.illustrations .swiper-container-rtl .swiper-button-next:after {
  color: lightgray;
}

.illustrations .swiper-pagination .swiper-pagination-bullet-active {
  background-color: gray;
}

.illustrations .swiper-slide {
  text-align: center;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.illustrations .container-general {
  padding: 75px 0;
  margin: 0 auto;
  width: 86%;
}

.illustrations .container-general .gallery-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 70vh;
}

.illustrations .container-general .gallery-wrap .item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.illustrations .container-general .gallery-wrap .item:hover {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}

.illustrations .wrap-effect-1 .item:first-of-type {
  background-image: url("../images/1.jpg");
}

.illustrations .wrap-effect-1 .item:nth-of-type(2) {
  background-image: url("../images/2.jpg");
}

.illustrations .wrap-effect-1 .item:nth-of-type(3) {
  background-image: url("../images/3.jpg");
}

.illustrations .wrap-effect-1 .item:nth-of-type(4) {
  background-image: url("../images/4.jpg");
}

.illustrations .wrap-effect-1 .item:last-of-type {
  background-image: url("../images/5.jpg");
}

.illustrations .wrap-effect-2 .item:first-of-type {
  background-image: url("../images/6.jpg");
}

.illustrations .wrap-effect-2 .item:nth-of-type(2) {
  background-image: url("../images/7.jpg");
}

.illustrations .wrap-effect-2 .item:nth-of-type(3) {
  background-image: url("../images/8.jpg");
}

.illustrations .wrap-effect-2 .item:nth-of-type(4) {
  background-image: url("../images/9.jpg");
}

.illustrations .wrap-effect-2 .item:last-of-type {
  background-image: url("../images/10.jpg");
}

.illustrations .wrap-effect-3 .item:first-of-type {
  background-image: url("../images/11.jpg");
}

.illustrations .wrap-effect-3 .item:nth-of-type(2) {
  background-image: url("../images/12.jpg");
}

.illustrations .wrap-effect-3 .item:nth-of-type(3) {
  background-image: url("../images/13.jpg");
}

.illustrations .wrap-effect-3 .item:nth-of-type(4) {
  background-image: url("../images/14.jpg");
}

.illustrations .wrap-effect-3 .item:last-of-type {
  background-image: url("../images/15.jpg");
}

.illustrations .wrap-effect-4 .item:first-of-type {
  background-image: url("../images/16.jpg");
}

.illustrations .wrap-effect-4 .item:nth-of-type(2) {
  background-image: url("../images/17.jpg");
}

.illustrations .wrap-effect-4 .item:nth-of-type(3) {
  background-image: url("../images/18.jpg");
}

.illustrations .wrap-effect-4 .item:nth-of-type(4) {
  background-image: url("../images/19.jpg");
}

.illustrations .wrap-effect-4 .item:last-of-type {
  background-image: url("../images/20.jpg");
}

.illustrations .wrap-effect-5 .item:first-of-type {
  background-image: url("../images/21.jpg");
}

.illustrations .wrap-effect-5 .item:nth-of-type(2) {
  background-image: url("../images/22.jpg");
}

.illustrations .wrap-effect-5 .item:nth-of-type(3) {
  background-image: url("../images/23.jpg");
}

.illustrations .wrap-effect-5 .item:nth-of-type(4) {
  background-image: url("../images/24.jpg");
}

.illustrations .wrap-effect-5 .item:last-of-type {
  background-image: url("../images/25.jpg");
}

.illustrations_mobile {
  width: 100%;
  height: 100%;
  display: none;
}

@media (max-width: 991px) {
  .illustrations_mobile {
    display: inline-block;
  }
}

.illustrations_mobile .illus_title_mobile {
  margin-left: 20px;
  color: gray;
  font-size: 1.1rem;
  letter-spacing: 2px;
  font-weight: bold;
  text-align: center;
}

.illustrations_mobile .gallery-top {
  top: 1.5rem;
}

.illustrations_mobile .gallery-top .top_style {
  height: 90%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.illustrations_mobile .gallery-thumbs {
  bottom: 3%;
  height: 30%;
}

@media (max-width: 575px) {
  .illustrations_mobile .gallery-thumbs {
    height: 20%;
  }
}

.illustrations_mobile .gallery-thumbs .thumbs_style {
  height: 100%;
  background-size: cover;
  background-position: center;
}

.aboutMe {
  width: 100%;
  font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
  padding-top: 100px;
  height: calc(100vh - 100px);
  /* viewport height 可視區域 扣掉 navbar高度 */
  position: relative;
}

.aboutMe .clippy {
  background-color: #e7faeb;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(29% 0, 98% 24%, 70% 98%, 0 65%);
          clip-path: polygon(29% 0, 98% 24%, 70% 98%, 0 65%);
}

.aboutMe .container {
  width: 100%;
  height: 100%;
}

.aboutMe .container .row {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 575px) {
  .aboutMe .container .row {
    margin-left: 0px;
  }
}

.aboutMe .container .row .about1 {
  width: 100%;
  color: black;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 1.2rem;
  letter-spacing: 4px;
  text-align: center;
  line-height: 40px;
}

@media (max-width: 575px) {
  .aboutMe .container .row .about1 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.aboutMe .container .row .about1 .about_name {
  padding: 6px;
  margin-left: 20px;
  background-color: #fbfad7;
  color: cadetblue;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 6px;
}

@media (max-width: 991px) {
  .aboutMe .container .row .about1 .about_name {
    font-size: 1.1rem;
    padding: 4px;
  }
}

@media (max-width: 768px) {
  .aboutMe .container .row .about1 .about_name {
    font-size: 1rem;
  }
}

@media (max-width: 991px) {
  .aboutMe .container .row .about1 .about_content {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .aboutMe .container .row .about1 .about_content {
    font-size: 14px;
    line-height: 25px;
  }
}

@media (max-width: 575px) {
  .aboutMe .container .row .about1 .about_content {
    line-height: 30px;
  }
}

.aboutMe .container .row .about1 .about_content .murmur {
  padding-right: 60px;
}

@media (max-width: 1200px) {
  .aboutMe .container .row .about1 .about_content .murmur {
    padding-right: 40px;
  }
}

@media (max-width: 991px) {
  .aboutMe .container .row .about1 .about_content .murmur {
    padding-right: 30px;
  }
}

@media (max-width: 900px) {
  .aboutMe .container .row .about1 .about_content .murmur {
    padding-right: 25px;
  }
}

.aboutMe .container .row .about2 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 575px) {
  .aboutMe .container .row .about2 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 66%;
    height: 66%;
  }
}

.aboutMe .container .row .about2 .shake {
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@media (max-width: 575px) {
  .aboutMe .container .row .about3 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.aboutMe .container .row .about3 .about_title {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
  width: 100px;
  line-height: 100px;
  color: gray;
  font-size: 1.6rem;
  letter-spacing: 10px;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 991px) {
  .aboutMe .container .row .about3 .about_title {
    font-size: 1.3rem;
  }
}

@media (max-width: 768px) {
  .aboutMe .container .row .about3 .about_title {
    font-size: 1.2rem;
  }
}

@media (max-width: 575px) {
  .aboutMe .container .row .about3 .about_title {
    font-size: 1.1rem;
    -webkit-writing-mode: unset;
        -ms-writing-mode: unset;
            writing-mode: unset;
    text-orientation: unset;
    width: 100%;
    line-height: unset;
    padding: 20px;
  }
}

.store_section {
  width: 100%;
  padding-top: 100px;
}

.store_section .store_font {
  font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
}

.store_section .store_title {
  margin: auto;
  padding: 20px;
  width: 100%;
  color: gray;
  font-size: 1.6rem;
  letter-spacing: 10px;
  font-weight: bold;
  text-align: center;
}

.store_section .btn-outline-success {
  color: cadetblue;
  border-color: cadetblue;
}

.store_section .btn-outline-success:hover {
  background-color: cadetblue;
  border-color: cadetblue;
}

.store_section .btn-outline-success:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.store_section .btn-outline-success:not(:disabled):not(.disabled):active {
  background-color: cadetblue;
  border-color: cadetblue;
}

.store_section .menu_content .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.store_section .nav-link {
  width: 100%;
  height: 100%;
  text-align: center;
  color: #494646;
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 991px) {
  .store_section .nav-link {
    padding: 1rem 5px;
  }
}

@media (max-width: 576px) {
  .store_section .nav-link {
    padding: 5px 5px;
  }
}

.store_section .nav-link P {
  margin: 0;
}

.store_section .nav-pills .nav-item {
  width: 25%;
}

.store_section .nav-pills .nav-item .nav-link.active {
  color: cadetblue;
  background-color: #fbfad7;
}

.store_section .tab-content .container {
  padding: 0px;
}

.store_section .tab-pane p {
  display: block;
}

.store_section .menu_content {
  color: #494646;
  background-color: #fbfad7;
  padding: 20px;
}

.store_section .menu_content .row {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.store_section .menu_content .bag_right h4 {
  color: cadetblue;
}

.store_section .menu_content .col-sm-4 {
  height: 70%;
  top: 0;
}

.store_section .menu_content .col-sm-4 .store_top_content {
  max-height: 20%;
}

.store_section .menu_content .col-sm-4 .store_bottom_content {
  text-align: center;
}

.store_section .menu_content .col-sm-4 .store_bottom_content .bottom_title {
  padding-top: 10px;
  color: cadetblue;
}

.store_section .menu_content .menu_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 20px;
}

.store_section .nav-item a:hover {
  color: #494646;
}

.store_section .nav-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

@media (max-width: 576px) {
  .store_section .nav-item a {
    display: inline-block;
  }
}

.store_section .nav-item a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #E7FAEB;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.store_section .nav-item a:hover:before,
.store_section .nav-item a:focus:before,
.store_section .nav-item a:active:before {
  left: 0;
  right: 0;
}

.shop_menu2_swiper {
  display: none;
}

@media (max-width: 576px) {
  .shop_menu2_swiper {
    display: inline-block;
  }
}

@media (max-width: 576px) {
  .menu2_web {
    display: none;
  }
}

.shop_menu3_swiper {
  display: none;
}

@media (max-width: 576px) {
  .shop_menu3_swiper {
    display: inline-block;
  }
}

@media (max-width: 576px) {
  .menu3_web {
    display: none;
  }
}

.shop_menu4_swiper {
  display: none;
}

@media (max-width: 576px) {
  .shop_menu4_swiper {
    display: inline-block;
  }
}

@media (max-width: 576px) {
  .menu4_web {
    display: none;
  }
}

.contact_me {
  font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
  margin-top: 100px;
  width: 100%;
  height: calc(100vh - 100px);
  background-color: #e7faeb;
  background-image: linear-gradient(199deg, #e7faeb 49%, #fbfad7 50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 576px) {
  .contact_me {
    height: auto;
  }
}

.contact_me .container {
  width: 100%;
}

.contact_me .container .row {
  width: 100%;
  height: 100%;
  margin-left: 0px;
}

.contact_me .container .row .col-sm-7 {
  padding-bottom: 100%;
  background-image: url("../images/contactme.jpg");
  background-size: 80%;
  background-position: center center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 992px) {
  .contact_me .container .row .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contact_me .container .row .col-sm-7 {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    padding-bottom: 30%;
  }
}

.contact_me .container .row .col-sm-5 {
  width: 100%;
  padding: 40px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact_me .container .row .col-sm-5 .ci1 {
  color: #e9e595;
  font-size: 1.6em;
  letter-spacing: 10px;
  font-weight: bold;
  border-bottom: 5px solid white;
  padding-bottom: 12px;
}

.contact_me .container .row .col-sm-5 .ci2 {
  margin: 20px;
  letter-spacing: 1px;
}

.contact_me .container .row .col-sm-5 .ci2 a {
  color: cadetblue;
}

.contact_me .container .row .col-sm-5 .ci2 a:hover {
  color: #e6e3a5;
  text-decoration: none;
}

.contact_me .container .row .col-sm-5 .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contact_me .container .row .col-sm-5 .btn i {
  padding: 0px 10px 0 10px;
  color: cadetblue;
}

.contact_me .container .row .col-sm-5 .btn i:hover {
  color: #e6e3a5;
}

.footer {
  font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
  width: 100%;
  height: 140px;
  background-image: url(../images/footer.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer .footer_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 140px;
}

.footer .footer_container .copyright {
  color: white;
  font-size: 1rem;
  letter-spacing: 4px;
}

@media (max-width: 576px) {
  .footer .footer_container .copyright {
    font-size: 10px;
  }
}
/*# sourceMappingURL=style.css.map */