// @import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
body {
    background-color: white;
    margin: 0px;
    // font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
}


// ------------- navbar start --------------- //

.header {
    background-color: white;
    // background-color: #FFF9EF;
    // height: 90px;


    .container_navbar {
        @media (min-width: 1300px) {
            max-width: 1240px;
        }

        @media (min-width: 1500px) {
            max-width: 1440px;
        }

        @media (min-width: 1800px) {
            max-width: 1740px;
        }
    }

    .link_border {
        margin-left: 50px;
        width: 25px;
        border-top: 2px solid gray !important;
    }

    .link_a {
        flex-direction: column;
        margin-left: 50px;
        padding-top: 10px;
        font-weight: bold;

        // @media (min-width: 992px){
        //     flex-direction: row;
        // }
        &:hover {
            text-decoration: none;
        }

        &:hover .hover_letter {
            width: auto;
            height: auto;
            color: gray;
            cursor: pointer;
        }

        .first_letter {
            writing-mode: vertical-lr;
            text-orientation: upright;
            color: gray;
        }

        .hover_letter {
            width: 0;
            height: 0;
            color: transparent;
            cursor: default;
            transition: 0.7s;
            writing-mode: vertical-lr;
            text-orientation: upright;
            top: 32px;
        }
    }
}

// ------------- navbar end --------------- //


// ------------- banner start --------------- //

.banner {
    background-color: #E7FAEB;
    margin-top: 100px;
    height: calc(100vh - 100px);
    /* viewport height 可視區域 扣掉 navbar高度 */

    @media (max-width: 576px) {
        height: auto
    }

    // .banner_left{
    //     height: 100%;
    // }

    .col-sm-8 img {
        width: 100%;
        height: 100%;
    }

    .banner_text {
        width: 100%;
        height: 100%;
        background-color: #fbfad7;
        writing-mode: vertical-rl;
        text-orientation: upright;
        color: black;
        font-family: Noto Sans TC, 微軟正黑體;
        font-size: 1.2rem;
        letter-spacing: 6px;
        // font-weight: bold;
        // text-align: center;
        // line-height: 40px;
        padding: 90px;

    }
}

// ------------- banner  end --------------- //

// ---------- illustration start ------------ //

.illustrations {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .illus_title {
        writing-mode: vertical-rl;
        text-orientation: upright;
        width: 100px;
        height: 500px;
        font-size: 1.5rem;
        text-align: center;
    }

    .container {

        @media (min-width: 1300px) {
            max-width: 1240px;
        }

        @media (min-width: 1500px) {
            max-width: 1440px;
        }

        @media (min-width: 1800px) {
            max-width: 1740px;
        }
    }

    .swiper-container {
        width: 100%;
        height: 90%;
    }

    .swiper-button-next:after,
    .swiper-container-rtl .swiper-button-prev:after {
        color: lightgray;
    }

    .swiper-button-prev:after,
    .swiper-container-rtl .swiper-button-next:after {
        color: lightgray;
    }

    .swiper-pagination .swiper-pagination-bullet-active {
       background-color: gray;
    }

    .swiper-slide {
        text-align: center;
        background: #fff;
        /* Center slide text vertically */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    // Image Accordions General
    .container-general {
        padding: 75px 0;
        margin: 0 auto;
        width: 86%;

        .gallery-wrap {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 70vh;

            .item {
                flex: 1;
                height: 100%;
                background-position: center;
                background-size: cover;
                background-repeat: none;
                transition: all 0.8s ease;

                &:hover {
                    flex: 6;
                }
            }
        }
    }

    // Image Accordions Effect 1
    .wrap-effect-1 {
        .item {
            &:first-of-type {
                background-image: url('../images/1.jpg');
            }

            &:nth-of-type(2) {
                background-image: url('../images/2.jpg');
            }

            &:nth-of-type(3) {
                background-image: url('../images/3.jpg');
            }

            &:nth-of-type(4) {
                background-image: url('../images/4.jpg');
            }

            &:last-of-type {
                background-image: url('../images/5.jpg');
            }
        }
    }

    // Image Accordions Effect 2
    .wrap-effect-2 {
        .item {
            &:first-of-type {
                background-image: url('../images/6.jpg');
            }

            &:nth-of-type(2) {
                background-image: url('../images/7.jpg');
            }

            &:nth-of-type(3) {
                background-image: url('../images/8.jpg');
            }

            &:nth-of-type(4) {
                background-image: url('../images/9.jpg');
            }

            &:last-of-type {
                background-image: url('../images/10.jpg');
            }
        }
    }

    // Image Accordions Effect 3
    .wrap-effect-3 {
        .item {
            &:first-of-type {
                background-image: url('../images/11.jpg');
            }

            &:nth-of-type(2) {
                background-image: url('../images/12.jpg');
            }

            &:nth-of-type(3) {
                background-image: url('../images/13.jpg');
            }

            &:nth-of-type(4) {
                background-image: url('../images/14.jpg');
            }

            &:last-of-type {
                background-image: url('../images/15.jpg');
            }
        }
    }

    // Image Accordions Effect 4 
    .wrap-effect-4 {
        .item {
            &:first-of-type {
                background-image: url('../images/16.jpg');
            }

            &:nth-of-type(2) {
                background-image: url('../images/17.jpg');
            }

            &:nth-of-type(3) {
                background-image: url('../images/18.jpg');
            }

            &:nth-of-type(4) {
                background-image: url('../images/19.jpg');
            }

            &:last-of-type {
                background-image: url('../images/20.jpg');
            }
        }
    }

    // Image Accordions Effect 5 
    .wrap-effect-5 {
        .item {
            &:first-of-type {
                background-image: url('../images/21.jpg');
            }

            &:nth-of-type(2) {
                background-image: url('../images/22.jpg');
            }

            &:nth-of-type(3) {
                background-image: url('../images/23.jpg');
            }

            &:nth-of-type(4) {
                background-image: url('../images/24.jpg');
            }

            &:last-of-type {
                background-image: url('../images/25.jpg');
            }
        }
    }

    .inspire {
        // border: 1px solid rgba(22, 76, 167, 0.6);
        // border-radius: 10px;
        // cursor: pointer;
        // overflow: hidden;
        // position: relative;
        // text-decoration: none;
        // margin: 10px;
        // padding: 10px;

        // &:after {
        //     background: #38ef7d;
        //     content: "";
        //     height: 155px;
        //     left: -75px;
        //     opacity: .4;
        //     position: absolute;
        //     top: -50px;
        //     transform: rotate(35deg);
        //     transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        //     width: 50px;
        //     z-index: -10;
        // }

        // &:hover {
        //     &:after {
        //         left: 120%;
        //         transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        //     }
        // }
    }

    // @keyframes rotate {
    //     0% {
    //         transform: rotate(0deg) translate3d(0, 0, 0);
    //     }

    //     25% {
    //         transform: rotate(10deg) translate3d(0, 0, 0);
    //     }

    //     50% {
    //         transform: rotate(-10deg) translate3d(0, 0, 0);
    //     }

    //     75% {
    //         transform: rotate(5deg) translate3d(0, 0, 0);
    //     }

    //     100% {
    //         transform: rotate(0deg) translate3d(0, 0, 0)
    //     }
    // }
}

// ---------- illustration  end ------------ //

// ------------- about me start --------------- //

.aboutMe {
    background-color: #E7FAEB;
    margin-top: 100px;
    height: calc(100vh - 100px);
    overflow: hidden;
    /* viewport height 可視區域 扣掉 navbar高度 */

    .about_left {
        background-color: #fbfad7;
        color: black;
        font-family: 微軟正黑體;
        font-size: 21px;
        font-weight: bold;
        text-align: center;
    }

    .about_right {
        background-color: lightslategray;
        color: black;
        font-family: 微軟正黑體;
        font-size: 21px;
        font-weight: bold;
        text-align: center;
        // padding: 90px;
    }

    .about_name {}
}

// ------------- about me  end --------------- //

// ----------- store 商店  start ------------ //


.store_font {
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;

}

// .store_title {
//     color: cadetblue;
//     font-size: 1.4rem;
//     font-weight: bold;
//     text-align: center;
// }

// arrow 顏色 //
:root {
    --swiper-theme-color: white;
}


// button 顏色微調
.btn-outline-success {
    // position: absolute;
    color: cadetblue;
    border-color: cadetblue;
    // left: 39%;

    &:hover {
        background-color: cadetblue;
        border-color: cadetblue;
    }

    &:focus {
        box-shadow: none;
    }

    &:not(:disabled):not(.disabled):active {
        background-color: cadetblue;
        border-color: cadetblue;
    }
}

.menu_content .row {
    align-items: center;
    justify-content: center;
}

.nav-link {
    color: rgb(73, 70, 70);
    margin: auto;
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
}

// .nav-pills .nav-item::before {
//     content: "";
//     width: 3px;
//     height: 25px;
//     background-color: black;
// }

.nav-pills {

    .nav-item {
        width: 25%;

        .nav-link {
            width: 100%;
            height: 100%;
            text-align: center;
        }

        .nav-link.active {
            color: cadetblue;
            background-color: #fbfad7;
        }
    }
}

// 點擊menu後的效果 //

.tab-content .container {
    padding: 0px;
}

.tab-pane p {
    // height: calc(100vh - 106px - 38px - 40px);
    display: block;
    // height: 400px;
}

.menu_content {
    color: #494646;
    background-color: #fbfad7;

    .bag_right {


        h4 {
            color: cadetblue;
        }
    }

    .menu_buttons {
        display: flex;
        justify-content: space-around;
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .col-sm-4 {
        max-height: 800px;

        .store_top_content {
            max-height: 20%;

        }

        .store_bottom_content {
            // height: 230px;
            text-align: center;

            .bottom_title {
                padding-top: 10px;
                color: cadetblue;

            }
        }
    }
}


.nav-item a:hover {
    color: rgb(73, 70, 70);
}

// menu的hover效果 //
.nav-item a {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.nav-item a:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #E7FAEB;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.nav-item a:hover:before,
.nav-item a:focus:before,
.nav-item a:active:before {
    left: 0;
    right: 0;
}



// ------------ store 商店  end ------------- //

// --------- contact 聯絡我  start ---------- //

.contact_me {
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
    margin-top: 100px;
    height: calc(100vh - 100px);
    background-color: #e7faeb;
    background-image: linear-gradient(199deg, #e7faeb 49%, #fbfad7 50%);
    display: flex;
    justify-content: center;
    align-items: center;

    // @media (max-width: 576px) {
    //     height: auto;
    // }

    .container {
        // background-color: #fff;
        width: 50%;
        height: 70%;

        .row {
            width: 100%;
            height: 100%;
            margin-left: 0px;

            .col-sm-7 {
                // width: 100%;
                // height: 100%;
                padding-bottom: 100%;
                background-image: url('../images/contactme.jpg');
                // background-size: cover;
                background-size: 100%;
                background-position: center center;
                background-repeat: no-repeat;
                // padding-right: 20px;
                // min-width: 200px;
            }

            @media screen and (min-width: 992px) {
                .row {
                    display: flex;
                    flex-wrap: wrap;
                }

                .col-sm-7 {
                    flex-basis: 60%;
                    padding-bottom: 30%;
                }
            }

            .col-sm-5 {
                // background-color: white;
                width: 100%;
                padding: 40px;
                text-align: center;
                // line-height: 60px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .contact_item {
                    // background-color: whitesmoke;
                }

                .ci1 {
                    color: #e6e3a5;
                    font-size: 1.6em;
                    letter-spacing: 10px;
                    font-weight: bold;
                    border-bottom: 5px solid white;
                    padding-bottom: 12px;

                }

                .ci2 {
                    margin: 20px;

                    a {
                        color: cadetblue;

                        &:hover {
                            color: #e6e3a5;
                            text-decoration: none;
                        }
                    }
                }

                .btn {
                    display: flex;
                    flex-direction: row;

                    i {
                        padding: 0px 10px 0 10px;
                        color: cadetblue;

                        &:hover {
                            color: #e6e3a5;
                        }
                    }
                }
            }

        }
    }
}

// ---------- contact 聯絡我  end ----------- //

// ---------- footer 頁尾 start ----------- //

.footer {
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
    width: 100%;
    height: 140px;
    background-image: url(../images/footer.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    .footer_container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 140px;

        .copyright {
            color: white;
            font-size: 1rem;
            letter-spacing: 4px;


        }
    }
}

// ---------- footer 頁尾  end  ----------- //